{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block content %}
<div class="container mt-2 mt-md-4 mb-2 mb-md-4">
    <h1 class="display-6 mb-2 mb-md-4"><i class="fa-solid fa-right-to-bracket text-primary"></i> Login</h1>
    <form method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <!-- <input type="hidden" name="login_form" value="login_form"> -->
        <button type="submit" class="btn btn-primary">Sign In</button>
    </form>

    <!-- Third party provider authentication methods -->
    <div class="mt-4 mt-md-5">
        <h2>Or login using Third-party Authentication:</h2>
        <a href="{% provider_login_url 'google' %}" class="btn btn-danger"><i class="fa-brands fa-google"></i> Sign In
            with Google</a>
    </div>



</div>
{% endblock %}