{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-2 mt-md-4">
  <!-- Form start -->
  <form method="post" id="order-list-form" action="{% url 'orders' %}">
    {% csrf_token %}
    <!-- Orders table -->
    <div class="table-responsive order mb-3 table-container">
      <table id="orders-table" class="table table-striped table-hover">
        <!-- table headers -->
        <thead class="sticky-head">
          <tr>
            <th scope="col" class="sticky-head"></th>
            <th scope="col" class="sticky-head">Order ID</th>
            <th scope="col" class="sticky-head">Client</th>
            <th scope="col" class="sticky-head">Discount</th>
            <th scope="col" class="sticky-head">Deposit</th>
            <th scope="col" class="sticky-head">Order Value</th>
            <th scope="col" class="sticky-head">Created On</th>
            <th scope="col" class="sticky-head">Updated On</th>
            <th scope="col" class="sticky-head">Order Status</th>
            <th scope="col" class="sticky-head">Payment Status</th>
            <th scope="col" class="sticky-head"></th>
          </tr>
        </thead>
        <tbody>
          <!-- loop through order and form objects -->
          {% for order_set in order_data %}
          <!-- Apply conditional classes based on order status and paid status -->
          <tr {% if order_set.order.order_status == 4 and order_set.order.paid == 1 %} class="table-warning"
            {% elif order_set.order.order_status == 4 and order_set.order.paid == 2 %}
            class="table-secondary text-decoration-line-through opacity-50" {% endif %} id="order-{{ order_set.order.id  }}">
            <!-- Populate order row values -->
            <td>
              <!-- Toggle Button -->
              <button type="button" class="btn btn-sm btn-info toggle-items-btn" data-bs-toggle="collapse"
                data-bs-target="#order-items-{{ order_set.order.id  }}" aria-expanded="false"
                aria-controls="order-items-{{ order_set.order.id  }}">
                <i class="fa-solid fa-chevron-down"></i>
              </button>
            </td>
            <th scope="row">{{ order_set.order.id }}</th>
            <td>{{ order_set.order.client.client_name }}</td>
            <td>
              €{{ order_set.order.discount|default_if_none:"0.00" }}
            </td>
            <td>€{{ order_set.order.deposit|default_if_none:"0.00" }}</td>
            <td>€{{ order_set.order.order_value }}</td>
            <td>{{ order_set.order.created_on }}</td>
            <td>{{ order_set.order.updated_on }}</td>
            <td>
              <span class="badge 
              {% if order_set.order.order_status == 2 %}
                bg-warning text-dark
              {% elif order_set.order.order_status == 3 %}
                bg-success
              {% elif order_set.order.order_status == 4 %}
                bg-secondary
              {% else %}
                bg-primary
              {% endif %}
            ">
                {{ order_set.order.get_order_status_display }}
              </span>
            </td>
            <td>{{ order_set.order_form.paid }}</td>
            <td>
              <!-- Delete Button -->
              <button type="button" id="delete-order-btn-{{ order_set.order.id  }}" name="delete_order"
                class="btn btn-sm btn-danger delete-order-btn" value="{{ order_set.order.id  }}">
                <i class="fa-solid fa-trash"></i>
              </button>
            </td>
          </tr>
          <!-- Hidden Row for Order Items -->
          <tr>
            <td colspan="11" class="p-0">
              <div id="order-items-{{ order_set.order.id  }}" class="collapse">
                <table class="table table-hover table-bordered border-primary m-0">
                  <thead>
                    <tr>
                      <th scope="col">Item ID</th>
                      <th scope="col">Product</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Item Value</th>
                      <th scope="col">Product Finish</th>
                      <th scope="col">Design Options</th>
                      <th scope="col">Component Finishes</th>
                      <th scope="col">Item Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Include the management form for the item formset -->
                    {{ order_set.item_formset.management_form }}
                    <!-- Render each order item and form in the item formset -->
                    {% for form_item in order_set.item_formset %}
                    <tr>
                      <!-- Include hidden fields -->
                      {% for hidden_field in form_item.hidden_fields %}
                      {{ hidden_field }}
                      {% endfor %}
                      <!-- Render order item data -->
                      <th scope="row">{{ form_item.instance.id }}</th>
                      <td>{{ form_item.instance.product.name }}</td>
                      <td>{{ form_item.instance.quantity }}</td>
                      <td>€{{ form_item.instance.item_value }}</td>
                      <td>{{ form_item.instance.product_finish|default_if_none:"No selection" }}</td>
                      <td>
                        <!-- Render option values -->
                        <ul>
                          {% for option_value in form_item.instance.option_values.all %}
                          <li>{{ option_value.option.name }} - {{ option_value.value }}</li>
                          {% empty %}
                          No selection
                          {% endfor %}
                        </ul>
                      </td>
                      <td>
                        <!-- Render finishes -->
                        <ul>
                          {% if form_item.instance.item_component_finishes.all %}
                          {% for finish in form_item.instance.item_component_finishes.all %}
                          <li>{{ finish.component.name }} - {{ finish.finish_option.name }}</li>
                          {% endfor %}
                          {% else %}
                          No selection
                          {% endif %}
                        </ul>
                      </td>
                      <!-- Render item status form field -->
                      <td>{{ form_item.item_status }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="11">No orders found.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- Save All Changes button -->
    <div>

    </div>
    <button type="submit" class="btn btn-primary sticky-bottom">Save All Changes</button>
  </form>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="DeleteOrderConfirmationModal" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="DeleteOrderConfirmationModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="DeleteOrderConfirmationModalLabel">Confirm Delete</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this order? This action cannot be undone!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger" id="confirm-delete-order-btn" data-bs-dismiss="modal">Yes Delete</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extras %}
<!-- External JS logic -->
<script type="text/javascript" src="{% static 'js/orders.js' %}"></script>
{% endblock %}