{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
<!-- Chart JS -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.min.js" type="module"></script>
<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" type="text/css">
<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js" type="text/javascript"></script>
<!-- Moment JS -->
<script src="https://cdn.jsdelivr.net/npm/moment@2.30.1/moment.min.js"></script>
{% endblock %}

<!-- Main content -->
{% block content %}
<div class="container-fluid">

  <!-- 1ST ROW -->
  <div class="row">

    <!-- DEBTORS -->
    <div class="col-12 col-md-4 border pb-3">
      <!-- Debtors Chart -->
      <canvas id="debtorsChart"></canvas>
      <!-- Total Owed by Clients -->
      <div class="input-group mt-2 mt-md-4 metric-banner">
        <span class="input-group-text fs-6 fs-md-5 bg-primary text-light">Total Owed by Clients</span>
        <span class="input-group-text fs-6 fs-md-5">€</span>
        <input type="text" name="total_debtor_bal" class="form-control fw-bolder" id="total-debtor-bal"
          aria-label="readonly" readonly disabled>
      </div>
    </div>

    <!-- ORDER ITEM STATUS BY PRODUCT -->
    <div class="col-12 col-md-4 border pb-3">
      <!-- Order Item Status Chart -->
      <canvas id="orderItemStatusProductChart"></canvas>
      <!-- Total Open Items -->
      <div class="input-group mt-2 mt-md-4 metric-banner text-center">
        <span class="input-group-text fs-6 fs-md-5 bg-primary text-light">Total Open Items</span>
        <span class="input-group-text fs-6 fs-md-5">Count</span>
        <input type="text" name="total_open_items" class="form-control fw-bolder" id="total-open-items"
          aria-label="readonly" readonly disabled>
      </div>
    </div>

    <!-- PRODUCT REVENUE -->
    <div class="col-12 col-md-4 border pb-3">
      <!-- Product Revenue Chart -->
      <canvas id="productRevenueChart"></canvas>
      <!-- Product Revenue amount filter -->
      <div class="input-group mb-1">
        <span class="input-group-text">Revenue min</span>
        <span class="input-group-text">€</span>
        <input type="number" name="filter_prod_rev_min" id="filter-prod-rev-min" class="form-control form-control-sm">
        <span class="input-group-text">Revenue max</span>
        <span class="input-group-text">€</span>
        <input type="number" name="filter_prod_rev_max" id="filter-prod-rev-max" class="form-control form-control-sm">
      </div>
      <!-- Product Date created filter -->
      <div class="input-group mb-1">
        <span class="input-group-text">Date from</span>
        <input type="date" name="filter_prod_date_from" id="filter-prod-date-from" class="form-control form-control-sm">
        <span class="input-group-text">Date to</span>
        <input type="date" name="filter_prod_date_to" id="filter-prod-date-to" class="form-control form-control-sm">
      </div>
      <!-- Filter buttons -->
      <div class="text-center mb-1">
        <button id="apply-prod-rev-filters" class="btn btn-sm btn-success">Apply Filters</button>
        <button id="clear-prod-rev-filters" class="btn btn-sm btn-danger">Clear Filters</button>
      </div>
    </div>
  </div>

  <!-- 2ND ROW -->
  <div class="row pb-sm-4">

    <!-- ORDER ITEM STATUS BY CONFIGURATION -->
    <div class="col-12 col-md-6 border pb-3">
      <h1 class="display-6 mt-1 mt-md-2 text-center home-table-title">Open Items by Configuration</h1>
      <!-- Product Filter Dropdown -->
      <div class="d-flex justify-content-center">
        <label for="product-filter" hidden>Filter by Product</label>
        <select id="product-filter" class="form-select form-select-sm mb-1 mt-2 w-25">
          <option value="">All Products</option>
          <!-- Options will be populated dynamically using JavaScript or Django template -->
          {% for product in products %}
          <option value="{{ product.id }}">{{ product.name }}</option>
          {% endfor %}
        </select>
      </div>

      <!-- Order Item Status Chart -->
      <canvas id="orderItemStatusConfigChart"></canvas>
    </div>

    <!-- ORDER ITEMS DATA TABLE - FILTERED -->
    <div class="col-12 col-md-6 border pb-3">
      <h1 class="display-6 mt-1 mt-md-2 text-center home-table-title"><i
          class="fa-solid fa-circle-exclamation text-danger"></i> Critical Items
        <!-- Tooltip -->
        <span class="text-center align-baseline mb-2" data-toggle="tooltip" data-bs-html="true" title="Critical items with status:<br>
          1. Fully Paid but Not Started<br>
          2. Delivered but Not Paid<br>
          3. High Priority level" aria-label="Info on table tooltip">
          <i class="fa-solid fa-circle-info text-primary fs-4 fw-bolder"></i>
        </span></h1>
      <p class="text-center"><a class="btn btn-sm btn-primary"
          href="{% url 'order_item_tracker' %}?filter_type=critical" role="button" target="_blank">Edit Items</a></p>
      <!-- Filtering and DataTable -->
      <table id="orderitem-home-table" class="display table table-bordered table-responsive table-striped">
        <thead>
          <tr>
            <th>Item ID</th>
            <th>Item Status</th>
            <th>Priority Level</th>
            <th>Payment Status</th>
            <th>Order ID</th>
            <th>Order Date</th>
            <th>Client Name</th>
            <th>Product</th>
            <th>Design Options</th>
            <th>Product Finish</th>
            <th>Component Finishes</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <!-- Data will be populated by DataTables -->
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
<!-- Include the partial that defines JS variables using DTL -->
{% include 'orders/partials/js_var_order_items.html' %}
<!-- External JS file -->
<script src="{% static 'js/dashboard.js' %}" type="module"></script>
{% endblock %}