{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
<!-- Chart JS -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.min.js" type="module"></script>
{% endblock %}

<!-- Main content -->
{% block content %}
<div class="container-fluid">
  <div class="row">
    <!-- DEBTORS -->
    <div class="col-12 col-md-4 border">
      <!-- Debtors Chart -->
      <canvas id="debtorsChart" class="p-1"></canvas>
      <div class="input-group mt-2 mt-md-4">
        <span class="input-group-text fs-6 fs-md-5 bg-primary text-light">Total Owed by Clients</span>
        <span class="input-group-text fs-6 fs-md-5">€</span>
        <input type="text" name="total_debtor_bal" class="form-control form-control-lg" id="total-debtor-bal"
          aria-label="readonly" readonly disabled>
      </div>
    </div>
    <!-- ORDER ITEM STATUS -->
    <div class="col-12 col-md-4 border">
      <!-- Order Item Status Chart -->
      <canvas id="orderItemStatusChart" class="p-1"></canvas>
    </div>
    <!-- PRODUCT REVENUE -->
    <div class="col-12 col-md-4 border">
      <!-- Product Revenue Chart -->
      <canvas id="productRevenueChart" class="p-1"></canvas>
      <!-- Product Revenue amount filter -->
      <div class="input-group mb-1">
        <span class="input-group-text">Revenue min</span>
        <span class="input-group-text">€</span>
        <input type="number" name="filter_prod_rev_min" id="filter-prod-rev-min" class="form-control form-control-sm">
        <span class="input-group-text">Revenue max</span>
        <span class="input-group-text">€</span>
        <input type="number" name="filter_prod_rev_max" id="filter-prod-rev-max" class="form-control form-control-sm">
      </div>
      <!-- Product Date created filter -->
      <div class="input-group mb-1">
        <span class="input-group-text">Date from</span>
        <input type="date" name="filter_prod_date_from" id="filter-prod-date-from" class="form-control form-control-sm">
        <span class="input-group-text">Date to</span>
        <input type="date" name="filter_prod_date_to" id="filter-prod-date-to" class="form-control form-control-sm">
      </div>
      <!-- Filter buttons -->
      <div class="text-center mb-1">
        <button id="apply-prod-rev-filters" class="btn btn-sm btn-success">Apply Filters</button>
        <button id="clear-prod-rev-filters" class="btn btn-sm btn-danger">Clear Filters</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
<!-- External JS file -->
<script src="{% static 'js/dashboard.js' %}" type="module"></script>
{% endblock %}