{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
<!-- Chart JS -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.min.js" type="module"></script>
{% endblock %}

<!-- Main content -->
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-4">
      <!-- Revenue Chart -->
      <canvas id="productRevenueChart"></canvas>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
<!-- External JS file -->
<script src="{% static 'js/dashboard.js' %}" type="module"></script>
{% endblock %}