{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% if validlink %}
<div class="container mt-2 mt-md-4 mb-2 mb-md-4">
  <h2 class="display-6 mb-2 mb-md-4"><i class="fa-solid fa-screwdriver-wrench text-primary"></i> Set up your account
  </h2>
  <p>Please set your password below. Your username is your email.</p>

  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Set Password</button>
  </form>
</div>

{% else %}
<div class="container mt-2 mt-md-4 mb-2 mb-md-4">
  <h2 class="display-6 mb-2 mb-md-4"><i class="fa-solid fa-triangle-exclamation text-warning"></i> Invalid or Expired
    Link</h2>
  <p>This link has expired or is invalid. Please contact the administrator.</p>
</div>
{% endif %}

{% endblock %}