{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-2 mt-md-4 mb-2 mb-md-4">
    <h1 class="display-6 mb-2 mb-md-4"><i class="fa-solid fa-user-xmark text-danger"></i> Delete User</h1>
    <p>Are you sure you want to delete {{ object.username }}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirm</button>
        <a href="{% url 'user_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}