{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-2 mt-md-4 mb-2 mb-md-4">
    <h1 class="display-6 mb-2 mb-md-4"><i class="fa-solid fa-user-plus text-primary"></i> {{ title }}</h1>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'user_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}