{% extends 'base.html' %}

{% block content %}
<div class="container mt-2 mt-md-4 mb-2 mb-md-4">
    <h1 class="display-6 mb-2 mb-md-4"><i class="fa-solid fa-users text-primary"></i> User Management</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Active</th>
                <th>Admin</th>
                <th>Date Added</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.is_active }}</td>
                <td>{{ user.is_staff }}</td>
                <td>{{ user.date_joined }}</td>
                <td>
                    {% if request.user.is_staff and not user.is_active %}
                    <form action="{% url 'resend_invite' user.id %}" method="post" class="mb-1">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-secondary">Resend Invite</button>
                    </form>
                    {% endif %}
                    <!-- allow editing/deleting if the active user is admin (and the user to be deleted is not) -->
                    <!-- or allow if own active user -->
                    {% if request.user.is_staff and not user.is_staff or user == request.user %}
                    <a href="{% url 'user_edit' user.pk %}" class="btn btn-sm btn-warning">Edit</a>
                    <a href="{% url 'user_delete' user.pk %}" class="btn btn-sm btn-danger">Delete</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'user_add' %}" class="btn btn-primary">Add New User</a>
</div>
{% endblock %}